body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 200px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea[name=content] {
  width: 600px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.wiki-header {
		display: block;
		color: #C0C0C0;
		text-align: right; 
    text-decoration: none;
}

.wiki-title {
    font-size: 28px;
    font-weight: bold;
}

.wiki-content {
		font-size: 18px;
}

.wiki-footer {
		color: #C0C0C0;
		text-align: right;
		font-size: 16px;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.wiki-content {
    margin-top: 5px;
		white-space: normal;
}

