{% extends "base.html" %}

{% block content %}

  <div class="wiki-header">
		<div class="edit-and-history">
			{{ edit | safe }} {% if edit %}|{% endif %} {{ history | safe }}
		</div>
		<div class="login-and-logout">
			{{ auth | safe }}
		</div>
	</div>
   
    <br>
		<div class="wiki-title" id="title">{{ title }}</div>
		<br>

    <table>

    {% for h in page_history %}
      <tr>
				<td>{{h.created}}</td>
				<td>{{h.content}}</td>
				<td><a href="{{h.title}}?v={{h.version}}">view</a></td> 
				<td><a href="/_edit{{h.title}}?v={{h.version}}">edit</a></td> 
			</tr>
		{% endfor %}

    </table>

    <br>
    <div class="wiki-footer" id="edited">{{ edited }}</div>

{% endblock %}
